<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhiyou.mapper.DispensingMapper">
  <select id="find" resultType="DispensingTotal">
    select * from dispensing  dis,drug d,hospital_infor h,registration_infor r
    where dis.medical_record = h.medical_record and dis.drug_num=d.drug_num
    and r.medical_record=dis.medical_record 
  </select>

</mapper>